* {box-sizing: border-box}
img {vertical-align: middle;}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.center{
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flexcontainer100{
	display: flex;
	width: 100%;
}

.share{
	align-items: center;
}

body, h1, p, div,video {
  margin: 0;
  padding: 0;
}

.pad1{
	padding-bottom: 1em;
	padding-top: 1em;
}

hr.rounded {
  border-top: 8px solid hsla(0,0%,100%,1.00);
  border-radius: 5px;
	width: 80%;
}

.bgb{
	background: hsla(191,100%,43%,1.00)
}

.border{
	border: hsla(34,74%,91%,1.00) solid;
}

.bgw{
	background: hsla(0,0%,100%,0.20);
}

.bg70{
	background: hsla(0,0%,0%,0.70);
}

.column{
	flex-direction: column
}

.vertical{
	vertical-align: middle;
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.clicker{
	cursor: pointer;
}

.gold{
	-webkit-flex: 2;
  	-ms-flex: 2;
  	flex: 2;
	justify-content: center;
	box-sizing: border-box;
	max-width: 100%;
}

#topVideo {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height:50em;
  
	object-fit: cover;
}

.bottop{
	padding-bottom:0.5em;
	padding-top: 0.5em;
}

#more {display: none;}
#more1 {display: none;}

.bg{
	;background: hsla(0,0%,0%,0.53);
	
	padding: 1em;
	
	box-sizing: border-box;
}

.hover:hover{
	background-color: hsla(0,0%,98%,0.52);
}

.mySlides{
	display: none;
}

@keyframes fade{
	from {opacity: 0.4}
	to {opacity: 1}
}

.fade{
	animation-name: fade;
	animation-duration: 1.5s;
}

.slides{
	
	position: relative;
}

.bgblack{
	background-color: hsla(0,0%,0%,0.53);
}

.flex{
	-webkit-flex: 1;
  	-ms-flex: 1;
  	flex: 1;
	justify-content: center;
	box-sizing: border-box;
	
	max-width: 100%;
}

.pad{
	padding: 1em;
}

.flexcontainer{
	display: flex;
	padding: 0;
	text-align: center;
	justify-content: center;
	max-width: auto;
	max-height: 500%;
	box-sizing: border-box;
	flex-direction: row;
}

.about{
	padding: 50px; 
	font-size: 30px; 
	width: 100%; 
	display: flex; 
	align-items: center;
}

/*padded,inline, */
.socials{
	padding:20px;
	display:inline-block;
	width:96px;
	height: 96px;
}

.img1{
			background-image: url("img/lizard fullscreen.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 20em;
			border: 0px solid hsla(0,0%,0%,1.00);
			vertical-align: middle;
}

.img2{
			background-image: url("img/loot.gif");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 20em;
			border: 0px solid hsla(0,0%,0%,1.00);
			vertical-align: middle;
}

.img3{
			background-image: url("img/rat king.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 20em;
			border: 0px solid hsla(0,0%,0%,1.00);
			vertical-align: middle;
}

.img4{
			background-image: url("img/dimensions.gif");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 20em;
			border: 0px solid hsla(0,0%,0%,1.00);
			vertical-align: middle;
		}
.img5{
			background-image: url("img/multiplayer.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 20em;
			border: 0px solid hsla(0,0%,0%,1.00);
	vertical-align: middle;
	}
.img6{
			background-image: url("");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 50em;
			border: 0px solid hsla(0,0%,0%,1.00);
			vertical-align: middle;
}

.img7{
			background-image: url("img/background_beach.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 100%;
			border: 0px solid hsla(0,0%,0%,1.00);
			vertical-align: middle;
}

.img8{
			background-image: url("img/background_void.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 100%;
			border: 0px solid hsla(0,0%,0%,1.00);
			vertical-align: middle;
}
	
.img9{
			background-image: url("img/background_beach.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: auto;
			height: 30em;
			border: 0px solid hsla(0,0%,0%,1.00);
			vertical-align: middle;
}


html,body {
	background-color:black;
	color:antiquewhite;
	margin-top:0;
	padding:0;
	background-image: url("img/background_beach.jpg");
	background-size: contain;
	box-sizing: border-box;
	font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
	line-height:1.8;
}

.margin{
	margin-left:10%;
	margin-right: 10%;
}

.leftnav{
	flex:1;
	text-align: center;
	align-items: center;
	padding-left: 2em;
	padding-right: 2em;
}

.displayflex{
	display: flex;
	justify-content: space-between; 
  align-items: center; 
	height: 4em;
	opacity:1;
}

.logo {
	display: block;
  width: 12em;
  flex:1;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	opacity:1;
}

ul {
	top: 0;
	left:0;
position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: show;
  background-color: black;
	z-index: 1;
	width: 100%;
	height: 4em;
	align-items: center;
	background: hsla(0,0%,0%,0.9);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:hsla(192,100%,42%,1.00);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

form {
  border: 3px solid #F7FBC5;
  font-family: "Lucida Console", "Courier New", monospace;
}

.container2 {
  padding: 20px;
  background-color: black;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 20px;
  margin: 0px 0;
  display: inline-block;
  border: 16px solid black;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 1px;
}

input[type=submit] {
  background-color: antiquewhite;
  color: black;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.bottom-center{
	position: absolute;
	bottom: 8px;
	width:800px;
	right:40px;
}

.container {
  position: relative;
  text-align: center;
  color:antiquewhite;
}

h2{
	color:antiquewhite;
	font-size:1em;
}

h{
	font-size:1em;
}

p{
	color:antiquewhite;
	font-size: 0.7em;
}

section {
  display: -webkit-flex;
  display: flex;
}

.flex1{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;

}

.flex2{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}


