* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

.flex1{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}

.flex2{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

.p1{
  font-family: "Times New Roman", Times, serif;
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
	color: antiquewhite;
	font-size: 20px;
}

div.about{
	font-family: "Times New Roman", Times, serif;
  margin:auto;
  width: 600px;
  text-align: justify;
}

img.discord {
  position: absolute;
  top: 25px;
  right: 130px;
  width: 50px;
}

img.twitter {
  position: absolute;
  top: 22px;
  right: 213px;
  width: 50px;
}

img.steam {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}